@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 3rem;
  display: flex;
  background: linear-gradient(150deg,#01527a,#0071c2);
  justify-content: center;
  color: rgb(255, 255, 255);
  height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.card {
  background: linear-gradient(150deg,#4364F7, #6FB1FC);
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  border-radius: 1rem;
  transform: 0.5s border;
}
.card:hover {
  box-shadow: 0 3px 6px #728af6;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  outline: 0;
  border: 0;
  border-radius: 1rem;
  padding: 0.8rem;
  width: 70%;
  font-size: 16px;
  margin-left: 1rem;
}
button {
  border-radius: 50%;
  outline: 0;
  border: 0;
  margin: 1rem;
  padding: 8px;
  cursor: pointer;
}
button img {
  filter: invert(1);
}
.weather{
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.content {
  display: none;
  justify-content: space-around;
  padding-top: 1rem;
}
h1 {
  font-size: 50px;
}
.col {
  display: flex;
  gap: 0.5 rem;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}
p {
  padding-top: 0.5rem;
}

@media (max-width:800px) {
  .card{
    width: 80vw;
  }
}
@media (max-width:400px) {
  body{
    padding: 0;
  }
  .card{
    width: 100vw;
    border-radius: 0;
  }
}